*{
    background-color:solid lightgray;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding:5px 15px 10px 15px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100;
    padding: 4px; 
    border:1px solid #ccc;
    border-radius:5px ;
    margin: 5px;
}
fieldset{
    background-color:#fff;
    border:1 px solid #ccc;
}
.main_heading{
    text-align: center;
}
input[type="submit"]{
    background-color: rgba(21, 215, 43, 0.934);
    border-radius: 5px;
    padding: 8px 18px;
    cursor:  pointer;

    
}
input[type="submit"]:hover{
    background-color:darkgreen ;
}